.MenuMobile__icon {
  background: #f8b739;
  border-color: #f8b739;
  text-align: center;
  width: 1.6rem;
}

.MenuMobile__content {
  position: fixed;
  top: 140px;
  width: 100%;
  height: auto;
  overflow-y: scroll;
  background: #3a3f51c4;
  left: 0;
  z-index: 1;
  height: 100vh;
  top: 0;
}

.MenuMobile__Content_UlMenuleft {
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 320px;
  z-index: 999;
  height: 100%;
  top: 0;
  list-style: none;
}

.MenuMobile__Content_UlMenuleft__Nav {
  position: fixed;
  width: 320px;
}

.MenuMobile__icon__Bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  top: 0;
  z-index: 2;
  border: none;
}
/* -------- */
.MenuMobile__Content_UlMenuleft__Icon {
  text-align: right;
  padding: 20px;
  padding-top: 10px;
}
.MenuMobile__Content_UlMenuleft__LoginLoguot {
  background-color: rgba(0, 0, 0, 0.881);
  color: white;
  height: 70px;
  width: 100%;
  display: flex;
  padding: 15px 10px 0px 10px;
}
.MenuMobile__LoginLoguot__icon {
  padding-right: 20px;
}
.MenuMobile__LoginLoguot__Login {
  padding: 5px 30px 0 0;
  color: bisque;
}
.MenuMobile__LoginLoguot__Register {
  padding: 5px 30px 0 0;
  color: bisque;
}

.MenuMobile__Content_UlMenuleft__Data {
  overflow: scroll;
  height: 75%;
  margin-top: 135px;
}

.MenuMobile__Content_UlMenuleft__Data > div {
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid #f8f8f8;
}
.MenuMobile__Content_UlMenuleft__Data > div:hover {
  background-color: rgb(243, 243, 243);
}
.MenuMobile__Content_UlMenuleft__Home {
  display: flex;
}
.MenuMobile__Content_UlMenuleft__Home > span {
  padding: 4px 0px 0px 10px;
}
.MenuMobile__Content_UlMenuleft__About > span {
  padding: 5px 0px 0px 10px;
}
.MenuMobile__Content_UlMenuleft__Product__span {
  padding: 5px 0px 0px 10px;
}
.MenuMobile__Content_UlMenuleft__Product__icon {
  float: right;
}
.MenuMobile__Content_UlMenuleft__Contact > span {
  padding: 5px 0px 0px 10px;
}
.MenuMobile__Content_UlMenuleft__ProductUL > li:hover {
  background-color: rgb(220, 218, 218);
}
.MenuMobile__Content_UlMenuleft__ProductUL > li > a:hover {
  text-decoration: none;
}
.MenuMobile__Content_UlMenuleft__ProductUL > a:hover {
  text-decoration: none;
}
.MenuMobile__Content_UlMenuleft__ProductUL > a > li:hover {
  background-color: rgb(220, 218, 218);
}

.MenuMobile__Content_UlMenuleft__ProductUL {
  list-style: none;
  list-style: none;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 0;
  font-size: 13px;
}
.MenuMobile__Content_UlMenuleft__ProductUL > li {
  padding: 10px 0;
  display: flex;
}

.MenuMobile__Content_UlMenuleft__ProductUL > a > li {
  padding: 10px 0;
  display: flex;
}

.MenuMobile__Content_UlMenuleft__ProductUL > li > a {
  color: black;
}
.MenuMobile__Content_UlMenuleft__Product > button {
  border: none;
  background: none;
}
.MenuMobile__Content_UlMenuleft__Product__icon {
  padding-left: 10px;
}
.MenuMobile__Acount > button {
  border: none;
  background: none;
  padding: 0;
  padding-right: 15px;
  padding-top: 5px;
  color: #ffffff;
}
.MenuLeft__accountSuccess {
  border: none;
  background: none;
  color: #ffffff;
  font-size: 14px;
  padding-top: 8px;
}
.MenuLetf__AcountLogout > button {
  padding: 0 5px;
  color: #000;
  font-weight: bold;
  line-height: 2;
  cursor: pointer;
  border: none;
  background: none;
}
.MenuLetf__AcountLogout {
  position: fixed;
  bottom: 0;
  width: 320px;
  background: #f8f9fa;
  border: 1px solid #e9ecef;
}
