.HeaderConsumer {
}

.HeaderConsumer__account {
  background: #f8f9fa;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: flex-end;
}

.HeaderConsumer__account__content {
  width: 1188px;
  min-width: 1188px;
  margin: 0 auto;
  text-align: right;
}

.HeaderConsumer__nav {
  display: flex;
  max-width: 1188px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 10px;
}

.HeaderConsumer__nav > div {
  flex-grow: 1;
}

.HeaderConsumer__nav__card_content__icon {
  background: #44bcd8;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  border-radius: 10px;
}

.HeaderConsumer__nav__card {
  background-color: #fafafa;
  height: 50px;
  border-radius: 10px 0 0px 10px;
}

.HeaderConsumer__nav__card_content {
  display: flex;
  justify-content: flex-end;
  border-radius: 33px 15px 15px 33px;
  border: 1px solid #d4cece;
}

.HeaderConsumer__nav__card_content__text {
  padding-right: 20px;
  line-height: 1.4;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
}

.HeaderConsumer__nav__numberPhone {
}

.HeaderConsumer__nav__numberPhone__content {
  height: 50px;
  text-align: center;
}

.HeaderConsumer__nav__numberPhone__content > img {
  height: 100%;
}

.HeaderConsumer__nav__numberPhone__content__text {
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  justify-content: center;
  align-items: flex-end;
}
