.BackToHome {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.BackToHome__styledText {
  color: #009fe3;
}

.BackToHome__Link {
  font-weight: normal !important;
}
.BackToHome__Link:hover {
  text-decoration: none;
  width: ;
}
@media (max-width: 768) {
  .BackToHome {
    padding: 20px;
  }
}
