.Consulting {
  border-radius: inherit;
  background: #80808008;
}
.Consulting__Header {
  color: rgb(250, 62, 63);
  text-align: center;
}
.Consulting__Header > h3 {
  padding-top: 35px;
}
.Consulting__Header__img {
  padding-top: 20px;
}
.Consulting__Header__Content > h4 {
  color: rgb(250, 62, 63);
  text-align: center;
  padding-top: 35px;
  padding-bottom: 15px;
}
.Consulting__Header__Content > b {
  font-size: 16px;
}
.Consulting__Header__Content > p {
  font-size: 16px;
}

.Consulting__Header__img > div {
  padding-bottom: 35px;
}
