.Category__Header {
  padding-top: 10px;
  background: #80808026;
  font-size: 15px;
}
.Category_Add {
  float: right;
  padding-right: 10px;
}

.data-table-extensions > .data-table-extensions-filter {
  display: flex;
  align-items: center;
  float: right;
  border: 1px solid #8080803d;
  border-radius: 10px;
  padding-left: 15px;
}

.data-table-extensions > .data-table-extensions-filter > .filter-text {
  border: none;
}
