.modal-content {
  height: 500px;
  overflow: scroll;
}
.Product__LinkNew {
  border: none;
  color: #ffffff;
  float: right;
  cursor: pointer;
  text-align: center;
  padding: 5px 5px;
  background-color: #008cba;
  width: 104px;
}
.Product__LinkNew:hover {
  color: #ffffff;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.Product__LinkNew > span {
  font-size: 14px;
}
