.notification-container__title {
  font-size: 14px !important;
}

.notification-container__message {
  font-size: 12px !important;
}
.notification-container {
  display: flex;
}
.notification-container-nav {
  padding-left: 15px;
  padding-top: 1px;
  line-height: 1.1;
}

.Toastify__toast {
  box-shadow: 0 1px 0px 0 #878686, 0 2px 15px 0 #767676 !important;
}
