.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  top: 0;
  height: 500px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 1;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-wrapper {
  height: 500px !important;
  /* height: 746px; */
}

.swiper-slide {
  width: 100% !important;
}

/* LoginSwiper */
.LoginSwiper__container {
  height: 100%;
  background-image: #ffffff;
}

.LoginSwiper__logoContainer {
  padding-top: 37px;
  margin-bottom: 74px;
  text-align: center;
}

.LoginSwiper__logoContainer img {
  width: 188px;
  height: 29px;
}

.LoginSwiper__itemSwiperContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.LoginSwiper__itemSwiperContainer img {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  /* width: 150px; */
  height: 100%;
}

.LoginSwiper__styledSmallTitle {
  width: 100%;
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-top: -30px;
}

.LoginSwiper__introText {
  font-family: "blog_script";
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  width: 262px;
}

@media (min-width: 992px) {
  .LoginSwiper__introText {
    width: 262px;
  }
}

@media (min-width: 768px) {
  .LoginSwiper__introText {
    width: 262px;
  }
}

.LoginSwiper__introText_LongText {
  width: 366px;
}

@media (min-width: 992px) {
  .LoginSwiper__introText_LongText {
    width: 340px;
  }
}

@media (min-width: 768px) {
  .LoginSwiper__introText_LongText {
    width: 320px;
  }
}
