html {
  background: #00000045;
}
.HeaderConsumer {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
}
.HeaderConsumer > div {
  background-color: #f5f5f5;
  max-width: 1500px;
}
#app > div {
  background: #fff !important;
}
a {
  text-decoration: none !important;
}

.wrapper {
  background: #fff !important;
}

.HeaderConsumer__account {
  background: #e4e5e7;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
}

.HeaderConsumer__account__content {
  text-align: right;
  color: #333333;
  font-weight: bold;
  cursor: pointer;
}

.HeaderConsumer__nav {
  display: flex;
  margin-top: 10px;
  height: 70px;
  align-items: center;
}

.HeaderConsumer__nav > div {
  flex-grow: 1;
}

.HeaderConsumer__nav__card {
  height: 50px;
  border-radius: 10px 0 0px 10px;
}

.HeaderConsumer__nav__numberPhone__content {
  height: 50px;
  text-align: center;
}

.HeaderConsumer__nav__numberPhone__content > img {
  height: 100%;
}

.HeaderConsumer__nav__numberPhone__content__text {
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  justify-content: center;
  align-items: flex-end;
}

.HeaderConsumer__nav__card_content__text {
  cursor: pointer;
  float: right;
  display: flex;
  text-align: right;
}

.HeaderConsumer__nav__card_content__CartText {
  display: flex;
  flex-direction: column;
  line-height: 1;
  padding-left: 13px;
  font-size: 12px;
  padding-top: 6px;
}
.SpanMobile {
  display: none;
}
.HeaderConsumer__nav__logo > img {
  font-size: 14px;
}
@media (max-width: 768px) {
  .HeaderConsumer__nav__logo {
    text-align: center;
  }
  .HeaderConsumer__nav {
    height: 100px;
  }
}

@media (max-width: 576px) {
  .SpanMobile {
    display: inline;
    position: absolute;
    color: #fff;
    background-color: rgb(250, 62, 63);
    border-radius: 50%;
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    top: 10px;
  }
  .SpanMobile > span {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
}
@media (max-width: 360px) {
  .SpanMobile {
    right: -4px;
    top: -4px;
  }
}
