.CircleStep {
  width: 48px;
  height: 48px;
  border: solid 3px #009fe3;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CircleStep .CircleStep__Number {
  color: #009fe3;
}