.HcpFormLogin {
  width: 100%;
}

.HcpFormLogin .HcpFormLogin__form {
  margin-bottom: 30px;
}

.HcpFormLogin .HcpFormLogin__form .form-group:last-of-type {
  margin-bottom: 30px;
}

.HcpFormLogin .HcpFormLogin__form .form-group {
  margin-bottom: 35px;
  
}

.HcpFormLogin .HcpFormLogin__form .form-group > label {
  color: #000000;
}

.HcpFormLogin .HcpFormLogin__form .form-group .forgot-pwd {
  margin-bottom: 0rem;
  color: #008cd1;
  cursor: pointer;
}