/* .css-1okebmr-indicatorSeparator {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  background-color: hsl(0, 0%, 80%);
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  width: 1px;
  box-sizing: border-box;
}

.css-6q0nyr-Svg {
  color: #008cd1;
}

.css-yk16xz-control {
  height: 57px;
}

.css-g1d714-ValueContainer {
  padding-left: 20px !important;
}

.css-1wa3eu0-placeholder {
  color: #c1c3d0 !important;
}

select:required:invalid {
  color: #9e9e9e;
}

.css-1pahdxg-control {
  border: 1px solid #66afe9 !important;
  height: 57px !important;
  box-shadow: none !important;
} */
